<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Vendor & Order Tracker'</title>
     @{
  Layout = "_Layout";
      }
  </head>
  <body>
   
    <h1>Welcome to Pierre's Vendor & Order Tracker!</h1>
    <h3><a href='/vendors'>View all vendors</a></h3>
  </body>
</html>