div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:rgb(232, 247, 250);
  padding:8px;
}

div#header {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  color:rgb(101, 180, 200);
  background:rgb(232, 247, 250);
  padding:8px;
  font-family: Snell Roundhand, cursive;
  font-size: 75px;
}

h1 {
  color:black;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  color: rgb(101, 180, 200);
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  color: rgb(101, 180, 200);
  padding-top: 10px;
  padding-bottom: 10px;
}

a:link {
  color: rgb(101, 180, 200);
  text-decoration: none;
}

a:visited {
  color: rgb(101, 180, 200);
  text-decoration: none;
}

a:hover {
  color: pink;
  text-decoration: none;
}

a:active {
  color: rgb(101, 180, 200);
  text-decoration: none;
}

body {
  font-family: Optima, sans-serif;
  background-image: url("../img/background.jpg");
  
}

main {
  margin-top: 200px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  font-family: Optima, sans-serif;
  background-color: white;
  padding: 35px;
  border-radius: 10px;
  border-color: rgb(232, 247, 250);
  border-style: double;
  border-width: 10px;
}